# Old Temp
/cogs/__pycache__/
/cogs/games/__pycache__/
/cogs/utilities/__pycache__/
migagalogs.logger
cogs/smash/__pycache__/
awwh.jpg
aww.jpg
cogs/storage/__pycache__/
khcache.json

# Config
config.ini
