# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  setup:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
  
    - name: Install doctl
      uses: digitalocean/action-doctl@v2
      with:
        token: ${{ secrets.DIGITALOCEAN_TOKEN }}
        
    - name: Save Container Registry Config
      run: doctl registry login
      
    - name: Copy config to secret
      run: echo ${{ secret.MIGAGA_CONFIG }} > config.ini
    
    - name: Build Docker Container
      run: docker build . -t registry.digitalocean.com/lewis/migaga
      
    - name: Push Container
      run: docker push registry.digitalocean.com/lewis/migaga
